.expand-arrow-icon {
    position: absolute;
    top: 45px;
    left: 1431px;
    width: 66px;
    height: 71px;
    object-fit: cover;
}
.search-icon {
    position: absolute;
    top: 55px;
    left: 475px;
    width: 73px;
    height: 58px;
    object-fit: cover;
}
.image-icon {
    position: absolute;
    top: 154px;
    left: 85px;
    width: 1246px;
    height: 469px;
    object-fit: cover;
}
.our-vision {
    position: absolute;
    top: 791px;
    left: 612px;
    font-weight: 800;
}
.image-icon1 {
    position: absolute;
    top: 852px;
    left: 48px;
    width: 471px;
    height: 363px;
    object-fit: cover;
}
.image-icon2 {
    position: absolute;
    top: 852px;
    left: 937px;
    width: 472px;
    height: 363px;
    object-fit: cover;
}
.what-we-do {
    position: absolute;
    top: 1318px;
    left: 48px;
    font-weight: 800;
}
.desktop-1-child {
    position: absolute;
    top: 1404px;
    left: 60px;
    background-color: #29c2e3;
    width: 358px;
    height: 77px;
}
.desktop-1-item {
    position: absolute;
    top: 1397px;
    left: 461px;
    background-color: #29c2e3;
    width: 316px;
    height: 77px;
}
.desktop-1-inner {
    position: absolute;
    top: 1538px;
    left: 461px;
    background-color: #29c2e3;
    width: 316px;
    height: 77px;
}
.rectangle-div {
    position: absolute;
    top: 1670px;
    left: 452px;
    background-color: #29c2e3;
    width: 325px;
    height: 77px;
}
.desktop-1-child1 {
    position: absolute;
    top: 1538px;
    left: 60px;
    background-color: #29c2e3;
    width: 358px;
    height: 77px;
}
.educate {
    position: absolute;
    top: 1414px;
    left: 148px;
    font-weight: 800;
}
.engage {
    position: absolute;
    top: 1554px;
    left: 154px;
    font-weight: 800;
}
.phone-1-123-456-78901 {
    margin-bottom: 0px;
}
.phone-1-123-456-7890 {
    margin: 0;
    font-family: inherit;
    padding-left: 44px;
}
.blank-line {
    margin: 0;
    font-size: 20px;
}
.phone-1-123-container {
    position: absolute;
    top: 2807px;
    left: 64px;
    font-weight: 600;
    font-size: 33px;
}
.revolutionise {
    position: absolute;
    top: 1421px;
    left: 505px;
    font-weight: 800;
}
.rectangle-icon {
    position: absolute;
    top: 1670px;
    left: 51px;
    width: 367px;
    height: 77px;
}
.to-inspire-and {
    margin: 0;
}
.to-inspire-and-container {
    position: absolute;
    top: 301px;
    left: 122px;
    font-weight: 600;
    display: inline-block;
    width: 585px;
    height: 156px;
}
.protect {
    position: absolute;
    top: 1679px;
    left: 553px;
    font-weight: 800;
}
.our-team {
    position: absolute;
    top: 1855px;
    left: 614px;
    font-weight: 800;
}
.contact-us {
    position: absolute;
    top: 2432px;
    left: 61px;
    font-weight: 800;
}
.image-icon3 {
    position: absolute;
    top: 1995px;
    left: 338px;
    width: 215px;
    height: 188px;
    object-fit: cover;
}
.have-a-question {
    position: absolute;
    top: 2728px;
    left: 136px;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    width: 1449px;
    height: 68px;
}
.email-infoturningthetideorg {
    position: absolute;
    top: 2666px;
    left: 64px;
    font-weight: 600;
}
.prefe-r-to-talk {
    position: absolute;
    top: 2850px;
    left: 136px;
    font-size: 20px;
    font-weight: 600;
}
.image-icon4 {
    position: absolute;
    top: 1995px;
    left: 627px;
    width: 215px;
    height: 188px;
    object-fit: cover;
}
.image-icon5 {
    position: absolute;
    top: 1995px;
    left: 1264px;
    width: 215px;
    height: 188px;
    object-fit: cover;
}
.image-icon6 {
    position: absolute;
    top: 1995px;
    left: 52px;
    width: 215px;
    height: 188px;
    object-fit: cover;
}
.image-icon7 {
    position: absolute;
    top: 1995px;
    left: 935px;
    width: 220px;
    height: 188px;
    object-fit: cover;
}
.wed-love-to-container {
    position: absolute;
    top: 2490px;
    left: 85px;
    font-size: 30px;
    display: inline-block;
    font-weight: 800;
    width: 1462px;
    height: 132px;
}
.lead {
    margin: 0;
    white-space: pre-wrap;
}
.ankit-satpute-lead-container {
    position: absolute;
    top: 2224.33px;
    left: 48.12px;
    font-size: 30px;
    display: inline-block;
    font-weight: 800;
    width: 247px;
    height: 28.3px;
    transform:  rotate(0.3deg);
    transform-origin: 0 0;
}
.serene-dmello-co-lead-container {
    position: absolute;
    top: 2209px;
    left: 338.16px;
    font-size: 30px;
    display: inline-block;
    font-weight: 800;
    width: 247px;
    height: 28.3px;
    transform:  rotate(0.3deg);
    transform-origin: 0 0;
}
.outreach {
    position: absolute;
    top: 1674px;
    left: 160px;
    font-weight: 800;
}
.aditya-dabreo-treasurer-container {
    position: absolute;
    top: 2212px;
    left: 631.16px;
    font-size: 30px;
    display: inline-block;
    font-weight: 800;
    width: 247px;
    height: 28.3px;
    transform:  rotate(0.3deg);
    transform-origin: 0 0;
}
.our-mission {
    position: absolute;
    top: 180px;
    left: 156px;
    font-weight: 800;
}
.swayam-chaudhari-tech-container {
    position: absolute;
    top: 2211px;
    left: 911.16px;
    font-size: 30px;
    display: inline-block;
    font-weight: 800;
    width: 297.8px;
    height: 28.3px;
    transform:  rotate(0.3deg);
    transform-origin: 0 0;
}
.collaborate {
    position: absolute;
    top: 1550px;
    left: 527px;
    font-weight: 800;
}
.a-world-where {
    position: absolute;
    top: 908px;
    left: 574px;
    font-weight: 600;
    display: inline-block;
    width: 361px;
    height: 261px;
}
.nigel-dsilva-operation-container {
    position: absolute;
    top: 2209px;
    left: 1285.16px;
    font-size: 30px;
    display: inline-block;
    font-weight: 800;
    width: 318px;
    height: 28.3px;
    transform:  rotate(0.3deg);
    transform-origin: 0 0;
}
.follow-us-on-social-media {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: 48px;
}
.follow-us-on-container {
    position: absolute;
    top: 2946px;
    left: 64px;
    font-weight: 800;
}
.desktop-11 {
    position: absolute;
    top: -30px;
    left: -3px;
    background-color: #000;
    width: 2326px;
    height: 4560px;
    overflow: hidden;
}
.desktop-1 {
    width: 100%;
    position: relative;
    background-color: #000;
    height: 4530px;
    overflow: hidden;
    text-align: left;
    font-size: 36px;
    color: #fff;
    font-family: Inter;
}