{% extends "turningtide/base.html" %}
{% load static %}

{% block title %}
ngo  page
{%endblock%}

{% block css_files %}
<link rel="stylesheet" href="{% static 'turningtide/about.css' %}"/>

{% endblock %}


{% block content %}



<div class="desktop-1">
    <img class="expand-arrow-icon" alt="" src="Expand Arrow.png">
    <img class="search-icon" alt="" src="Search.png">
    <div class="desktop-11">
    <img class="image-icon" alt="" src="./vision.jpg " class=our-vision>Our vision</i>
    <img class="image-icon1" alt="" src="">
    <img class="image-icon2" alt="" src="/turningtide/static/turningtide/images/turningtide/mission2.jpg">
    <i class="what-we-do">What We Do</i>
    <div class="desktop-1-child">
    </div>
    <div class="desktop-1-item">
    </div>
    <div class="desktop-1-inner">
    </div>
    <div class="rectangle-div">
    </div>
    <div class="desktop-1-child1">
    </div>
    <i class="educate">Educate</i>
    <i class="engage">Engage</i>
    <div class="phone-1-123-container">
    <ul class="phone-1-123-456-7890">
    <li class="phone-1-123-456-78901">
    <span>Phone: +1 (123) 456-7890</span>
    </li>
    </ul>
    <p class="blank-line">&nbsp;</p>
    </div>
    <i class="revolutionise">Revolutionise</i>
    <img class="rectangle-icon" alt="" src="Rectangle 11.svg">
    <div class="to-inspire-and-container">
    <p class="to-inspire-and">To inspire and empower communities to actively participate in restoring marine ecosystems through sustainable practices, awareness, and collaborative actions.”</p>
    <p class="to-inspire-and">&nbsp;</p>
    </div>
    <i class="protect">Protect</i>
    <i class="our-team">Our Team</i>
    <i class="contact-us">Contact Us</i>
    <img class="image-icon3" alt="" src="IMAGES/WhatsApp Image 2024-10-09 at 19.10.35_a098b14a.jpg">
    <div class="have-a-question">-Have a question? Send us an email, and we’ll get back to you as soon as possible.</div>
    <div class="email-infoturningthetideorg">
    <ul class="follow-us-on-social-media">
    <li>Email: info@turningthetide.org</li>
    </ul>
    </div>
    <div class="prefe-r-to-talk">-Prefe-r to talk? Give us a call! We’re here to answer your question</div>
    <img class="image-icon4" alt="" src="./ankit.jpg">
    <img class="image-icon5" alt="" src="IMAGES/WhatsApp Image 2024-10-09 at 19.31.07_c6ea96c7.jpg">
    <img class="image-icon6" alt="" src="IMAGES/WhatsApp Image 2024-10-09 at 19.05.08_e0c8b4de.jpg">
    <img class="image-icon7" alt="" src="IMAGES/WhatsApp Image 2024-10-09 at 19.10.35_a098b14a.jpg">
    <i class="wed-love-to-container">
    <p class="to-inspire-and">We’d love to hear from you! Whether you have questions, feedback, or want to get involved in our mission to combat marine pollution, please reach out.</p>
    </i>
    <i class="ankit-satpute-lead-container">
    <p class="to-inspire-and">Ankit Satpute</p>
    <p class="lead"> (Lead)</p>
    </i>
    <i class="serene-dmello-co-lead-container">
    <p class="to-inspire-and">Serene Dmello</p>
    <p class="lead"> (Co-Lead)</p>
    </i>
    <i class="outreach">Outreach</i>
    <i class="aditya-dabreo-treasurer-container">
    <p class="to-inspire-and">Aditya dabreo</p>
    <p class="lead"> (Treasurer)</p>
    </i>
    <i class="our-mission">Our Mission</i>
    <i class="swayam-chaudhari-tech-container">
    <p class="to-inspire-and">Swayam Chaudhari</p>
    <p class="lead"> (Tech Head)</p>
    </i>
    <i class="collaborate">Collaborate</i>
    <div class="a-world-where">A world where oceans thrive, free from the threats of pollution and neglect.</div>
    <i class="nigel-dsilva-operation-container">
    <p class="to-inspire-and">Nigel Dsilva</p>
    <p class="to-inspire-and">(Operation Head) </p>
    </i>
    <i class="follow-us-on-container">
    <ul class="follow-us-on-social-media">
    <li>Follow us on social media</li>
    </ul>
    </i>
    </div>
    </div>
    

       

   
{%endblock%}